# Binaries and build outputs
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
/vendor/

# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Application specific files
*.log
test.db
gin.log
error.log
**/*/trace.out

scraper-result/
otherExample/tcp/client
otherExample/tcp/server
otherExample/tcp-stick/client
otherExample/tcp-stick/server
otherExample/udp/client
otherExample/udp/server
otherExample/http/client
otherExample/http/server
otherExample/rpc/client
otherExample/rpc/server
